@import "tailwindcss";
@plugin "@tailwindcss/typography";
body {
    min-height: 100vh;
    background-image:
        linear-gradient(rgba(10, 10, 10, 0.9), rgba(10, 10, 10, 0.9)),
        url("/stars.webp");
    background-size: cover;
    background-position: center 20%;
}

a:active {
    color: inherit;
}

.tab-btn {
    background-color: #caa368;
    color: #38200e;
}

.tab-btn:hover {
    background-color: #bfa268;
}

.tab-btn[data-active="true"],
.tab-btn[data-active="true"]:hover {
    background-color: #38200e;
    color: #caa368;
}
